---
import Base from '../layouts/Base.astro';
---

<Base title="limits">
  <div slot="hero" style="display:flex; justify-content:center; align-items:center; height:calc(100vh - var(--nav-height)); width:100%;">
    <img src="/assets/bard.png" alt="Product" style="max-width:80%; height:auto;" />
  </div>
</Base>