---
import Base from '../layouts/Base.astro';
---

<Base title="limits">
  <div slot="hero" class="hero-full">
    <img src="/assets/mainProductImage.png" alt="Product" style="max-width:80%; height:auto;" />
  </div>

  <section class="fullpage" aria-label="More about limits">
    <div>
      <h1>Ohm Keyboard</h1>
      <h2>features</h2>
      
      <ul>
        <li>hotswappable keyswitches, customizable at checkout (Kailh Choc V1)</li>
        <li>aluminum case</li>
        <li>X battery life</li>
        <li>bluetooth + wired</li>
        <li>36 key split unibody</li>
      </ul>

      <h2>to do list

      <ul>
        <li>put a render of the back of the keyboard underneath this list lol</li>
        <li>add license and site map at bottom of site</li>
        <li>finish store</li>
        <li>create admin console</li>
        <li>make a buy button below the product image</li>
        <li>write about section</li>
        <li>make clicking on the image scroll the page down</li>
        <li>make a dark mode toggle</li>
        <li>add support ticket system to web console</li>
      </ul>

    </div>
  </section>
</Base>