---
import Base from '../layouts/Base.astro';
---

<Base title="limits">
  <div slot="hero" class="hero-full">
    <img src="/assets/mainProductImage.png" alt="Product" style="max-width:80%; height:auto;" />
  </div>

  <section class="fullpage" aria-label="More about limits">
    <div>
      <h1>Ohm Keyboard</h1>
      <h2>Features</h2>
      
      <ul>
        <li>put a render of the back of the keyboard underneath this list lol</li>
        <li>hotswappable keyswitches, customizable at checkout (Kailh Choc V1)</li>
        <li>aluminum case</li>
        <li>X battery life</li>
        <li>bluetooth + wired</li>
        <li>36 key split unibody</li>
      </ul>

    </div>
  </section>
</Base>