---
import Base from '../layouts/Base.astro';
---

<Base title="store - limits">
  <main style="padding:2rem; max-width:900px; margin:0 auto;">
    <h1>store</h1>
    <p>one day we will sell something to pay off debts to the robot overlords</p>
  </main>
</Base>