---
// src/components/Navbar.astro
---
<nav>
  <div class="container">
    <div class="left">
      <a href="/" class="logo-link" aria-label="Home">
        <img class="logo" src="/assets/logoAll.svg" alt="Limits" />
      </a>
      <a href="/about">about</a>
      <a href="/store">store</a>
    </div>

    <!-- Right side -->
    <div class="right">
      <!-- Placeholder -->
    </div>
  </div>
</nav>